:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;

}
body {
    text-align: center;
    background: #193549;
    color: white;
}
.h2{
    font-size: 50px;
}
.controls {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
#js {
    color: var(--base);
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
input {
    width: 100px;
}